<div *ngIf="user">
  <h3>Du bist eingeloggt als: {{user.name}} / {{user.id}}</h3>

  <button (click)="showPresents()">Abholen aller existierenden Geschenke</button>

  <span *ngIf="presents">

    <p *ngFor="let present of presents">
      Present name: {{present.name}} / id: {{present.id}} 
      <button (click)="delete(user.id, present.id)">Löschen</button>
    </p>
  </span>

  <app-present-add [userId]="user.id"></app-present-add>

</div>