<h3>Geschenk hinzufügen:</h3>

<form [formGroup]="presentForm" (ngSubmit)="onSubmit()">

    <p>
        <label>
            Name:
            <input type="text" formControlName="name">
        </label>

        <button type="submit" [disabled]="!presentForm.valid">Submit</button>
    </p>

</form>

<!--
<p>
    Value: {{ presentForm.value.name }}
</p>
<p>
    <button (click)="updateName()">Update Name</button>
</p>
-->